.bg-img1 {
  background-size: cover;
  background-image: url(https://wallpapercave.com/wp/wp5162474.jpg);
  height: 100vh;
}

.bg-img2 {
  background-size: cover;
  background-image: url(https://png.pngtree.com/background/20210712/original/pngtree-modern-double-color-futuristic-neon-background-picture-image_1181573.jpg);
  height: 100vh;
}

.bg-img3 {
  background-color: #000;
  background-size: cover;
  background-image: url();
}
